<section class="wrapper">
  <div class="inner">
    <header class="special">
      <h1>
        <i nz-icon nzType="github" nzTheme="outline"></i>
        GitHub Searcher
      </h1>
      <p>Search users or repositories below</p>
    </header>


    <div class="search">
      <input #searchInput nz-input placeholder="Start typing to search..."
        (keyup)="getSearchResult($event.target.value)" />

      <button nz-button nz-dropdown [nzDropdownMenu]="menu4">
        {{selecteItem}}
        <i nz-icon nzType="down"></i>
      </button>
      <nz-dropdown-menu #menu4="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="getSelectedItem('Users','users','user',searchInput.value)">Users</li>
          <li nz-menu-item (click)="getSelectedItem('Repository','repositories','repository',searchInput.value)">
            Repository</li>
        </ul>
      </nz-dropdown-menu>

    </div>

    <div class="highlights">

      <nz-empty *ngIf="items.length === 0"></nz-empty>


      <section *ngFor="let item of items">


        <div class="content">
          <header *ngIf="branchName === 'users'">
            <img src="{{item.avatar_url}}">
            <h3>Owner : {{item.login}}</h3>
            <h3>ID : {{item.id}}</h3>
            <a href="https://{{item.html_url}}" target="_blank" rel="noopener noreferrer">
              Account Link
            </a>
          </header>
          <header *ngIf="branchName === 'repositories'">
            <img src="{{item.owner.avatar_url}}">
            <h3>Repo name : {{item.name}}</h3>
            <h3>Owner : {{item.owner.login}}</h3>
            <h3>Size : {{item.size}}</h3>
            <h3>#Forks count : {{item.forks_count}}</h3>
            <h3>#Watchers : {{item.watchers}}</h3>
            <h3>Created at : {{item.created_at | date}}</h3>
            <a href="https://{{item.html_url}}" target="_blank" rel="noopener noreferrer">
              Repo Link
            </a>
          </header>
        </div>
      </section>
    </div>
  </div>
</section>